<div class="form-group row">
	<label for="{{ id }}" class="class="col-xs-2 col-form-label">{{ label }}</label>
	<textarea class="form-control" placeholder="Text area" id="{{ id }}"></textarea>
</div><!-- end c-textarea -->
