<ul class="sg-colors">
		
	<li>
		<span class="sg-swatch" style="background: #CE1126;"></span>
		<span class="sg-label">
			$color-umd-red <br />
			#CE1126
		</span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background: #FCD116;"></span>
		<span class="sg-label">
			$color-umd-gold <br />
			#FCD116
		</span>
	</li>
	
</ul>
