<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #265a88;"></span>
		<span class="sg-label">
            $color-utility-primary <br />
            #265a88
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: inherit;"></span>
		<span class="sg-label">
			$color-utility-secondary <br />
			inhert
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #419641;"></span>
		<span class="sg-label">
			$color-utility-success <br />
			#419641
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2aabd2;"></span>
		<span class="sg-label">
			$color-utility-info <br />
			#2aabd2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eb9316;"></span>
		<span class="sg-label">
			$color-utility-warning <br />
			#eb9316
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c12e2a;"></span>
		<span class="sg-label">
			$color-utility-danger <br />
			#c12e2a
		</span>
	</li>
	
</ul>