<aside><p class="lead">Body Fonts </p> 
<div>Primary font-family: "Open Sans", sans-serif; font-weight: 400;</div>
<div><em>Primary font italic: "Open Sans", sans-serif; font-weight: 400i;</em></div>
<div><strong>Primary font bold: "Open Sans", sans-serif; font-weight: 700;</strong></div>
<div class="font-secondary">Secondary font: "Raleway", sans-serif; font-weight: 400;</div>
<div class="font-secondary"><em>Secondary font italic: "Raleway", sans-serif; font-weight: 400i;</em></div>
<div class="font-secondary"><strong>Secondary font bold; "Raleway", sans-serif; font-weight: 700;</strong></div>
</aside>
<hr>

<aside><p class="lead">Heading Fonts </p> 
<h1>Heading 1 font-family: "Roboto", sans-serif; font-weight: 500;</h1>
<h2>Heading 2 font-family: "Roboto", sans-serif; font-weight: 500;</h2>
<h3>Heading 3 font-family: "Roboto", sans-serif; font-weight: 500;</h3>
<h4>Heading 4 font-family: "Lato", sans-serif; font-weight: 400;</h4>
<h5>Heading 5 font-family: "Lato", sans-serif; font-weight: 400;</h5>
<h6>Heading 6 font-family: "Lato", sans-serif; font-weight: 400;</h6>
</aside>