<p class="lead">Progress Bar </p>
<div class="text-xs-center" id="example-caption-1"> Fearing Turtles&hellip;75%</div>
<progress class="progress" max="{{ max }}" value="{{ progressValue }}" aria-describedby="example-caption-1">
	<strong>{{ label }}</strong>
</progress>
