<aside>
<p class="lead">Button Styles</p>
<ul>
<li><strong>Primary</strong> button class="btn btn-primary" <button type="button" class="btn btn-primary {{ btnClass }}">{{ btnText }}</button> </li>
<li><strong>Secondary</strong> button class="btn btn-secondary" <button type="button" class="btn btn-secondary {{ btnClass }}">{{ btnText }}</button> </li>
<li><strong>Success</strong> button class="btn btn-success" <button type="button" class="btn btn-success {{ btnClass }}">{{ btnText }}</button> </li>
<li><strong>Info</strong> button class="btn btn-info"<button type="button" class="btn btn-info {{ btnClass }}">{{ btnText }}</button> </li>
<li><strong>Warning</strong> button class="btn btn-warning"<button type="button" class="btn btn-warning {{ btnClass }}">{{ btnText }}</button></li>
<li><strong>Danger</strong> button class="btn btn-danger"<button type="button" class="btn btn-danger {{ btnClass }}">{{ btnText }}</button></li>
<li><strong>Link</strong> button class="btn btn-link" <button type="button" class="btn btn-link {{ btnClass }}">{{ btnText }}</button></li>
</ul>