  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
<script src="//s3.amazonaws.com/umdheader.umd.edu/app/js/main.min.js"></script>
<script> umdHeader.init(); </script>
<script   src="//code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  </body>
</html>
